$('p:contains("Book was successfully created.")').remove();
$('p:contains("Book was successfully deleted.")').remove();
$('tr#<%= @book.id %>>').fadeOut(500, function(){
    $(this).remove();
});
$('header').after('<p class="alert alert-success">Book was successfully deleted.</p>');
